/*Inicio menu.php*/
.titulo{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menu {
	margin-bottom: 5%;
}

#menu ul {
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
    flex-flow: row nowrap;
  }
  
#menu li {
    flex: 1 1 0;
    border-right:10px solid transparent;
}

#menu li:nth-child(1){
    border-left: 10px solid transparent;
}

#menu a {
    display: block;
    text-align: center;
    padding:1em 0;
    background-color: black;
    color: white;
    text-decoration: none;
}

#menu a:hover {
    background-color: grey;
}
/*Fin menu.php*/


/* Inicio index.php*/
.index{
    margin: 0;
    padding:0;
    height: 100vh;
    background-image: url("../images/fondoIndex.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.index>fieldset{
    border:none;
    width: 50vw;
}
.index>fieldset>legend{
    text-align: center;
    color:rgb(210, 25, 31);
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
article.form{
    width: 50vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}
#form01{
    height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bold;
}
#nif,#pass{
    font-size: 22px;
}
#btnAcceder,#btnBorrar{
    border:0;
    height: 40px;
    font-size: 22px;
    background-color: rgb(230, 228, 228);
    transition-duration: 1s;
    border-radius: 10px;
    font-family: Arial;
}
#btnAcceder:hover{
    cursor: pointer;
    background-color: rgb(32, 107, 16);
    color: white;
}
#btnBorrar:hover{
    cursor: pointer;
    background-color: rgb(210, 25, 31);
    color: white;
}
#btnReg{
    text-decoration: none;
    height: 40px;
    background-color: blue;
    color: white;
    width: 272px;
    text-align: center;
    border-radius: 10px;
}
#btnReg:hover{
    cursor: pointer;
    background-color: darkblue;
}
.errorIndex{
    color:red;
    font-weight: bold;
    font-size: 24px;
    margin-top: 2%;
    margin-left: 10%;
}
/* Fin index.php*/

/* Inicio registrar.php */
.registrar{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-image: url("../images/registro.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.error{
    color: red;
}
.cabecera>h1 {
    color: red;
    text-align: center;
    margin-top: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.formulario {
    display: flex;
    flex-flow: column nowrap; 
    align-items: center;
    justify-content: center;
}
.formulario>h1{
    color: rgb(2, 78, 2);
    font-size: 32px;
}
.formulario>form>fieldset{
    text-align: center;
    border: 1px solid black;
    background-color: rgba(236, 236, 236, .7);
}
.formulario>form>fieldset>legend {
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.formulario>form>fieldset>p>label{
    color: black;
    font-weight: bolder;
    display: inline-block;
    width: 140px;
    text-align: left;
}

.formulario>form>fieldset>p>button{
    font-family: Arial;
    font-size: 18px;
}
.formulario>form>fieldset>p>button:hover{
    cursor: pointer;
}
.formulario>form>fieldset>p>button[type=submit]>i{
    color:rgb(41, 128, 41);
}
.formulario>form>fieldset>p>button>i{
    color: rgb(241, 25, 25);
}
/* Fin registrar.php */

/* Inicio listarPacientes.php */

.listar{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/fondoHospital.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.listar>div{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 50px;
}
.cuerpoListar>h3{
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-weight: lighter;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.cuerpoListar{
    width: fit-content;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    border-top: 2px solid black;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding:1em;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: rgba(236, 236, 236, .7);
    text-align: center;

}
.cuerpoListar>form{
    margin: 0 auto;
}
.tablaListar, td, th{
    border-collapse: collapse;
    border:.5px solid grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tablaListar tr>td{
    text-align: center;
}
.tablaListar tr>th{
    padding: .8em;
    background-color: lightgrey;
}
.tablaListar a{
    padding: 1.5em;
    display: block;
    color: black;
}
.tablaListar td:first-child:hover{
    background-color: lightgrey;
}
.cuerpoListar input[type=submit]{
    text-decoration: none;
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
    border: 2px solid black;
    margin-top: 10px;
}
.cuerpoListar input[type=submit]:hover{
    cursor: pointer;
    background-color: lightgrey;
}

/* Fin listarPacientes.php */

/*Inicio buscarPaciente.php*/
.cuerpoBuscar{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/fondoHospital.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.buscar{
    /*height: 100vh;*/
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.form02{
    display:flex;
    flex-flow: column nowrap;    
    border: 1px solid gray;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    padding: 20px;
    background-color: rgb(240, 240, 240);
}
.form02 h3{
    text-align: center;    
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#opciones,#valorPaciente{
    font-size: 22px;
}
.btnBuscar{
    font-size: 26px;
    border:1px solid black;
    height: 40px;
    background-color: rgb(156, 212, 151);
    transition-duration: 1s;
    border-radius: 10px;
    font-family: Arial;

}

.btnBuscar:hover{
    cursor: pointer;
    background-color: rgb(32, 107, 16);
    color: white;
}

/*Fin buscarPaciente.php*/

/*Inicio bienvenida.php*/
.welcome{
    background-image: url("../images/fondoHospital.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.bienvenida{
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.bienvenida>h2{
    width: fit-content;
    padding: 20px;
    border: 2px solid black;
    background-color: rgba(236, 236, 236, .7);
    font-size: 32px;
}



/*Fin bienvenida.php*/

/*Inicio alta.php*/

.alta{
    height: 100%;
    margin:0;

    background-image: url("../images/fondoHospital.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.alta>article{
    display: flex;
    flex-flow: column nowrap; 
    align-items: center;
    justify-content: center;
}
.alta>article>fieldset{
    background-color: rgba(236, 236, 236, .7);
    text-align: center;

}
.alta>article>fieldset>legend{
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.alta form>p{
    font-weight: bolder;

}
.alta form>p>label{
    display: inline-block;
    width: 140px;
    text-align: left;
}


.alta form>p>.expediente{
    cursor: pointer;
    border:1px solid black;
    background-color: rgb(173, 173, 173);
    font-size: 24px;
    transition-duration: 1s;
}
.alta form>p>.expediente:hover{
    background-color: black;
    color:white;
    border:1px solid white;

}
.alta form>p>.btnAlta{
    cursor: pointer;
    border:1px solid black;
    background-color: rgb(173, 173, 173);
    font-size: 24px;
    transition-duration: 1s;
}
.alta form>p>.btnAlta:hover{
    background-color: black;
    color:white;
    border:1px solid white;
}
.alta > article > p{
    font-size: 32px;
    font-weight: bolder;
    color: green;
    border:2px solid black;
    background-color: rgba(236, 236, 236, .7);
    padding: 10px;
}


/*Fin alta.php*/

/*Inicio eliminarPaciente.php*/
.borrar{
    width: 100%;
    height: 100%;
    background-image: url("../images/fondoHospital.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.pregunta, .formularioBorrar {
    text-align: center;
}
.pregunta{
    font-size: 22px;

}
.borrar>form>.confirmar{
    cursor: pointer;
    font-size: 24px;
    transition-duration: 1s;

}
.borrar>form>.confirmar:hover{
   background-color: green;
   color:white;
    
}

.borrar>form>.cancelar{
    cursor: pointer;
    font-size: 24px;
}
.borrar>form>.cancelar:hover{
    background-color: red;
    color:white;
     
 }

.volverBorrar {
    cursor: pointer;
    text-decoration: none;
    border-radius: 10%;
    padding: 0.5em;
    margin-left: 47.5%;
    font-size: 20px;
    background-color: rgb(173, 173, 173);
    color: black;
}
.volverBorrar:hover{
    background-color: black;
    color:white;
}

/*Fin eliminarPaciente.php*/

/* inicio mostarPaciente.php*/

.mostrar{
    width: 100%;
    height: 100%;
    background-image: url("../images/fondoHospital.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.contenedor{
    display: flex;
    justify-content: center;
}
.contenedor>fieldset{
    text-align: center;
    width: fit-content;
    background-color: rgba(236, 236, 236, .7);
}
.contenedor>fieldset>legend{
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contenedor>fieldset>p{

    text-align: left;
}
/*Fin mostrarPaciente.php*/

/*inicio modificarPaciente.php*/

.modificar{
    width: 100%;
    height: 100%;
    background-image: url("../images/fondoHospital.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.modificar>article{
    display: flex;
    justify-content: center;
}

.fieldsetModificar{
    text-align: center;
    width: fit-content;
    background-color: rgba(236, 236, 236, .7);
}

.fieldsetModificar>legend{
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.mostrar > article > fieldset > form > input.btnModificar{
    cursor: pointer;
    border:1px solid black;
    background-color: rgb(173, 173, 173);
    font-size: 24px;
    transition-duration: 1s;

}
.mostrar > article > fieldset > form > input.btnModificar:hover{
    background-color: black;
    color:white;
    border:1px solid white;
}

.modificar > article > fieldset > form > input.guardar{
    cursor: pointer;
    border:1px solid black;
    background-color: rgb(173, 173, 173);
    font-size: 24px;
    transition-duration: 1s;
}

.modificar > article > fieldset > form > input.guardar:hover{
    background-color: black;
    color:white;
    border:1px solid white;
}
.fieldsetModificar>form>p{

    text-align: left;
}
/*fin modificarPaciente.php*/