/*Inicio menu.php*/
.titulo{
    text-align: center;
}

#menu {
	margin-bottom: 5%;
}

#menu ul {
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
    flex-flow: row nowrap;
  }
  
#menu li {
    flex: 1 1 0;
    border-right:10px solid transparent;
}
  
#menu a {
    display: block;
    text-align: center;
    padding:1em 0;
    background-color: black;
    color: white;
    text-decoration: none;
}

#menu a:hover {
    background-color: grey;
}
/*Fin menu.php*/


/* Inicio index.php*/
.index{
    margin: 0;
    padding:0;
    height: 100vh;
    background-image: url("../images/fondoIndex.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.index>fieldset{
    border:none;
    width: 50vw;
}

.index>legend{
    padding-top: 50px;
    text-align: center;
    color:rgb(210, 25, 31);
    font-size: 24px;
}

article.form{
    width: 50vw;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

#form01{
    height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bold;
}
#nif,#pass{
    font-size: 22px;
}

#btnAcceder,#btnBorrar{
    border:0;
    height: 40px;
    font-size: 22px;
    background-color: rgb(230, 228, 228);
    transition-duration: 1s;
    border-radius: 10px;
    font-family: Arial;
}

#btnAcceder:hover{
    cursor: pointer;
    background-color: rgb(32, 107, 16);
    color: white;
}

#btnBorrar:hover{
    cursor: pointer;
    background-color: rgb(210, 25, 31);
    color: white;
}

#btnReg{
    text-decoration: none;
    height: 40px;
    background-color: blue;
    color: white;
    width: 272px;
    text-align: center;
    border-radius: 10px;
}

#btnReg:hover{
    cursor: pointer;
    background-color: darkblue;
}

/* Fin index.php*/

/* Inicio registrar.php */
.registrar{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-image: url("../images/registro.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.error{
    color: red;
}
    
.cabecera>h1 {
    color: red;
    text-align: center;
    margin-top: 3%;
}

.formulario {
    display: flex;
    flex-flow: column nowrap; 
    align-items: center;
    justify-content: center;
}

.formulario>h1{
    color: rgb(2, 78, 2);
    font-size: 32px;
}

.formulario>form>fieldset{
    text-align: center;
    border: 1px solid black;
}

.formulario>form>fieldset>legend {
    font-size: 24px;
}

.formulario>form>fieldset>p>label{
    color: black;
    text-shadow: 2px 2px 9px #000000;
}

.formulario>form>fieldset>p>input[type=submit]{
    font-size: 18px;
}

.formulario>form>fieldset>p>button{
    font-family: Arial;
    font-size: 18px;
}

.formulario>form>fieldset>p>button[type=submit]>i{
    color:rgb(41, 128, 41);
}

.formulario>form>fieldset>p>button>i{
    color: rgb(241, 25, 25);
}
/* Fin registrar.php */

/*Inicio bienvenida.php*/
.bienvenida{
    text-align: center;
}

/*.bienvenida>h2{

}*/
/*Fin bienvenida.php*/

/*Inicio alta.php*/
.alta{
    height: 100vh;
   
}

.alta>article{
    display: flex;
    flex-flow: column nowrap; 
    align-items: center;
    justify-content: center;
}

/*Fin alta.php*/

/*Inicio eliminarPaciente.php*/
.pregunta, .formularioBorrar {
    text-align: center;
}

.volverBorrar {
    text-decoration: none;
    border-radius: 10%;
    padding: 0.5em;
    margin-left: 47.5%;
    background-color: blue;
    color: red;
}
/*Fin eliminarPaciente.php*/